% {deps, [
%   {couch, ".*", {git, "https://github.com/apache/couchdb-couch.git", {branch, "master"}}}
% ]}.

{erl_opts, [
    {i, "./couchdb/src/couchdb/"},
    {src_dirs, ["src/", "./couchdb/src/snappy/"]}
]}.

{escript_emu_args, "%%! -pa ./couchdb/src/couchdb/ -pa ./couchdb/src/snappy/\n"}.
% {escript_incl_extra, [{"./couchdb/src/snappy/snappy.beam", "."}]}.